@page
@model ForgotPasswordConfirmation

<div class="row d-flex justify-content-center">
    <div class="col-lg-4">
        <div class="card">
            <div class="card-header">
                <div class="h3 m-0">
                    Forgot Password
                </div>
            </div>
            <div class="card-body">
                Please check your email to reset your password.
            </div>
        </div>
    </div>
</div>
