@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="h3 m-0">Login</div>
            </div>
            <div class="card-body">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <label asp-for="Input.Username" class="login-label"></label>
                                </div>
                            </div>
                            <input asp-for="Input.Username" class="form-control" />
                        </div>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <label asp-for="Input.Password" class="login-label"></label>
                                </div>
                            </div>
                            <input asp-for="Input.Password" class="form-control" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>Remember me</label>
                            <span class="checkbox-button">
                                <input asp-for="Input.RememberMe" />
                                <span class="checkbox-box"></span>
                            </span>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary">Login</button>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="mx-auto">Register as a new user!</a>
                </div>
                <div class="d-flex">
                    <a asp-page="./ForgotPassword" class="mx-auto">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
