@page
@model ResetPasswordModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration

<div class="row d-flex justify-content-center">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="h3 m-0">Reset Password</div>
            </div>
            <div class="card-body">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <label asp-for="Input.Email" class="reset-password-label"></label>
                                </div>
                            </div>
                            <input asp-for="Input.Email" class="form-control" />
                        </div>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <label asp-for="Input.Password" class="reset-password-label"></label>
                                </div>
                            </div>
                            <input asp-for="Input.Password" class="form-control" />
                        </div>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <label asp-for="Input.ConfirmPassword" class="reset-password-label"></label>
                                </div>
                            </div>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                        </div>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="g-recaptcha d-flex justify-content-center mb-3" data-sitekey="@configuration["RecaptchaSettings:SiteKey"]"></div>
                    <button class="btn btn-block btn-primary">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
}
